{% extends 'home.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <form class="row" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{user.image.url}}" class="card-img-top" alt="image">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body p-3">
                            <h5 class="card-title"><strong>First name:</strong> <input name="first_name" value="{{user.first_name}}"
                                    class="form-control" type="text"></h5>
                            <p class="card-text"><strong>Last name:</strong> <input name="last_name"
                                    value="{{user.last_name}}" class="form-control" type="text">
                            </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Email:</strong> <input name="email" value="{{user.email}}"
                                    class="form-control" type="text">
                            </li>
                            <li class="list-group-item"><strong>Username:</strong> <input name="username" value="{{user.username}}"
                                    class="form-control" type="text">
                            </li>
                            <li class="list-group-item"><strong>Password:</strong> <input name="password" 
                                    class="form-control" type="password">
                            </li>
                            <li class="list-group-item"><strong>New password:</strong> <input name="new-password" 
                                    class="form-control" type="password">
                            </li>
                            <li class="list-group-item"><strong>Image:</strong> <input name="image"
                                    class=" btn btn-warning form-control" type="file"></li>
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-warning mt-3">Update</button>
                </div>
    
            </form>
        </div>
    
    
    </div>
    
</body>
</html>
{% endblock %}